
  <footer class="bu-footer-section">

    <div class="clearfix bu-footer-menusection">
      <div class="container">
        <div class="row">
          <div class="col-xs-5 col-md-6 col-lg-2 col-xl-4 col-mb-12">
            <div class="widget">
              <div class="footer-logo">
                <img  src="../../../../../assets/img/favicon/buimat.png" alt="Buimat Logo">
              </div>
              <div class="textwidget">
                <p style=" line-height: 2;">Ajin Building Solutions Pvt Ltd
                  319, Marai Malai Adigal Salai,
                  Nellithope Pondicherry
                  605005</p>
                  <p><a href="mailto:info@buimat.com">info@buimat.com</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
            <div class="widget">
              <h3 class="block-title">Quick links</h3>
              <ul class="list-unstyled foot-menu">
                <li><a (click)="callPage(6)">Shop</a></li>
                <li><a>Deals of the day</a></li>
                <li><a>Your Recently Viewed</a></li>
                <!-- <li>
                  <a href="javascript:void(0)">Order Tracking</a>
                </li> -->
              </ul>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
            <div class="widget">
              <h3 class="block-title">Company</h3>
              <ul class="list-unstyled foot-menu">
                <li><a  (click)="callPage(1)">About Us</a></li>
                <li><a  (click)="callPage(3)">Contact</a></li>
                <li><a  (click)="callPage(5)">Checkout</a></li>
                <li><a  (click)="callPage(4)">Policy</a></li>
                <li><a  (click)="callPage(8)">Refund Policy</a></li>
              </ul>
            </div>
          </div><div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
            <div class="widget">
              <h3 class="block-title">Business</h3>
              <ul class="list-unstyled foot-menu">
                <!-- <li><a>order-via-phone</a></li> -->
                <!-- <li><a href="javascript:void(0)">Blogs</a></li>
                <li><a href="login.html">Vendor Registration</a></li>
                <li><a href="javascript:void(0)">Vehicle Registration</a></li> -->
                <!-- <li><a href="{{baseURL}}/buimat/terms-conditions">Terms & Conditions</a></li> -->
                <li><a (click)="callPage(2)">Terms & Conditions</a></li>
                <li><a (click)="callPage(6)">Seller Agreement</a></li>
                <!-- <li><a (click)="callPage(7)">End User Agreement</a></li> -->
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-12 col-lg-2 col-xl-2">
            <div class="widget bu-social-items">
              <h3 class="block-title">Follow us</h3>
              <ul class="d-flex list-unstyled">
                <li><a ><i class="pi pi-facebook"></i></a></li>
                <li><a ><i class="pi pi-twitter"></i></a></li>
                <li><a ><i class="pi pi-instagram"></i></a></li>
                <li><a ><i class="pi pi-youtube"></i></a></li>
                <li><a ><i class="pi pi-google"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="footer-blue">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-6 col-lg-7 col-xl-8">
            <h3 class="block-title">Download the Buimat App Now</h3>
            <div class="app-download-btn d-flex">
              <a href="#" title="Google Store" class="ss-btn mr-2">
                <img src="https://snapity.daspalinfotech.com/public/assets/playstore.png" alt="Play Store">
              </a>
              <a href="#" title="Google Store" class="ss-btn">
                <img src="https://snapity.daspalinfotech.com/public/assets/applestore.png" alt="Play Store">
              </a>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-5 col-xl-4">
            <div class="bu-email-map">
              <div class="bu-email-icon">
                <i class="lnr lnr-envelope" aria-hidden="true"></i>
              </div>
              <div class="bu-email-heading">
                <h3>Email</h3>
                <a href="mailto:support@snapity.com">support@buimat.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div id="bu-copyright">
      <div class="container">
        <div class="site-info text-center">
          <p>©2023 Buimat - All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>