<main>
    <section class="bu-ter">
       <div class="page-header page-header-catalog">
          <div class="page-breadcrumbs">
             <div class="martfury-container">
                <ul class="breadcrumbs">
                   <li itemprop="itemListElement" itemscope="">
                      <a class="home" href="/home" itemprop="item"><span itemprop="name">Home </span></a>
                   </li>
                   <span class="sep">/</span>
                   <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                      <span itemprop="item"><span itemprop="name">About Us</span></span>
                   </li>
                </ul>
             </div>
          </div>
       </div>
       <div class="main m-0 p-0">
            <div class="title">
                <h1 class="">ABOUT US</h1>
            </div>
            <div class="wpb_wrapper">
               <div class="content">
                  <div class="vc_toggle_title">
                     <h4>Welcome to Buimat</h4>
                  </div>
                  <div class="vc_toggle_content">
                    <p>Who doesn’t love beautifully constructed building, monuments, houses! But have you ever thought how difficult is the process of gathering the construction materials from numerous outlets? Isn’t it even more difficult to bargain at every outlet for the best price? Why to waste your time and energy when you have us!</p>
                    <p>“One stop solution for all your construction needs!”. We are pioneers in our field and thrive to deliver A to Z construction materials for both Business to Business & Business to Customers. We will bridge the gap between the dealers and the customers. All your construction materials can be found at our online market place.</p>
                    <p>Not just the materials of a single brand but we will be providing you with umpteen options to choose from. The cherry on the cake, we have flexible pricing options as well as discounts on bulk orders. We prioritize secure and transparent payment options.</p>
                    <p>In a business, when experience meets talent, miracles are created for the customers. Our Founders, have a rich experience of 20+ years in this field. We are a team of Young Energetic minds working together with passion and enthusiasm to cater the best of our customers’ or client’s needs and preferences. Our key is to innovate, build and deliver the best possible results.</p>
                 </div>
               </div>
              
            </div>
         </div>
    </section>
  </main> 
  
  