<main>
    <section class="bu-ter">
       <div class="page-header page-header-catalog">
          <div class="page-breadcrumbs">
             <div class="martfury-container">
                <ul class="breadcrumbs">
                   <li itemprop="itemListElement" itemscope="">
                      <a class="home"  href="/home" itemprop="item"><span itemprop="name">Home </span></a>
                   </li>
                   <span class="sep">/</span>
                   <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                      <span itemprop="item"><span itemprop="name">Privacy Policy</span></span>
                   </li>
                </ul>
             </div>
          </div>
       </div>
       <div class="main m-0 p-0">
          <div class="title">
             <h1 class="">POLICY</h1>
          </div>
          <div class="wpb_wrapper">
             <div class="content">
                <div class="text-center">
                   <strong>REFUND POLICY</strong>
                </div>
                <div class="vc_toggle_content">
                   <div class="title">
                      <strong>1. INTRODUCTION</strong>
                   </div>
                   <p>All products listed under a particular category may not have the same return/replacement period. Kindly check the respective item's applicable return/replacement policy on the product page.</p>
                   <p class="mt-3">
                      All goods must be thoroughly inspected by the buyer at the time of delivery for quality and quantity satisfaction 
                   </p>
                   <p class="mt-3">
                      Return and replacement for any product(s) shall be only considered for Damaged/ Defective products.
                   </p>
                   <p class="mt-3">
                      Please do not accept any products with Damaged / Tampered Packaging (excludes normal wear & tear and markings on the outer surface of the packaging, acceptable in the transit process). And buimat will not be responsible in case of acceptance.
                      Buimat has all the rights reserved to inspect the returned product and give a final call for refund or Exchange.
                      Notification Time for raising Complaint Is 24 Hrs from the time of Delivery.
                   </p>
                   <p class="mt-3">
                      In Case of Quality issue the company of the product will be attended to rectify with the help of the seller and company will take the final call on the product.
                   </p>
                   <p class="mt-3">
                      Procedure to raise a complaint.
                   </p>
                   <p class="mt-3">
                      For the detailed product Return & Refund Policy is given for the all product. If not given, the general policy is applicable.
                   </p>
                   <p class="mt-3">
                      The Picture in the photo and the actual product may be different.
                   </p>
                   <p class="mt-3">
                      Before using the product go through the manual and how to use the product has to be read clearly if any is available with the product and no complaints will be entertained if the procedure is not followed.
                   </p>
                   <div class="title">
                      <strong>2 .Return / Exchange / Replacement Eligibility:</strong>
                   </div>
                   <table>
                      <tr>
                         <td>
                            <b>PRODUCT</b>
                         </td>
                         <td><b>POLICY</b>
                         </td>
                      <tr>
                         <td>
                            <p>Cement</p>
                         </td>
                         <td>
                            <p>No Return after Acknowledging the product.</p>
                            <p>If any Damage it has to be&nbsp; returned during the unloading itself.</p>
                            <p>If any Quality Issue Company person will come and inspect the product and take its decision.</p>
                            <p>Any product mismatch should be returned before accepting the delivery of the product itself.</p>
                            <p>&nbsp;</p>
                         </td>
                      </tr>
                      <tr>
                         <td >
                            <p>Steel</p>
                         </td>
                         <td >
                            <p>Colour of the steel will be different from product to product. Since the chemical reaction takes place with the environment.</p>
                            <p>Zero Return Policy.</p>
                            <p>For Section Mismatch: The product has to be inspected during the unloading itself and if found so should be returned without unloading the refund and Exchange can be initiated but after delivery the handling &amp; transport charges for the return of material should be borne by the buyer.</p>
                            <p>For Wt Mismatch: 50 Kg of Wt mismatch is accepted for 10 Tons &amp; Above. Seller Wt Will be Final.</p>
                            <p>25 Kg of Wt mismatch is accepted for below 10 Tons &amp; Above. Seller Wt Will Be Final.</p>
                            <p>For any Discrepancies on wt has to be raised before acknowledging the product.</p>
                         </td>
                      </tr>
                      <tr>
                         <td >
                            <p>Sand, M Sand, P Sand, Blue Metal (Aggregators)</p>
                         </td>
                         <td>
                            <p>If any Quantity mismatch Issue it has to be complained before acknowledging the product.</p>
                            <p>The Quality complaint has to be raised within 24Hrs of Delivery.</p>
                            <p>The Quantity Mismatch of 15 Cft is allowed per load due to Transportation.</p>
                            <p>No Complaints of any sort will be taken after 24 Hrs.</p>
                         </td>
                      </tr>
                      <tr>
                         <td>
                            <p>Bricks.</p>
                         </td>
                         <td >
                            <p>If there is any Quantity mismatch Issue it has to be complained before acknowledging the product.</p>
                            <p>Since Brick has a tendency to break in nature it is always accepted that 5% of Chipping and damages of bricks during transportation.</p>
                            <p>If any Quality Issue has to be raised Before 24 Hours.</p>
                            <p>&nbsp;</p>
                         </td>
                      </tr>
                      <tr>
                         <td>
                            <p>Paints / Glass</p>
                         </td>
                         <td >
                            <p>No return Policy.</p>
                            <p>If any damage or tampering occurs before unloading, the goods can be returned back and you can expect a refund of money or exchange of products.</p>
                         </td>
                      </tr>
                      <tr>
                         <td >
                            <p>Plumbing / Electrical. / Waterproofing Chemicals/ Sanitary Ware / Faucets.</p>
                         </td>
                         <td>
                            <p>No Return Policy.</p>
                            <p>In Case of Product mismatch, Damaged it has to be notified before 24Hrs from delivery.</p>
                            <p>&nbsp;</p>
                         </td>
                      </tr>
                      <tr>
                         <td>
                            <p>Tile</p>
                         </td>
                         <td >
                            <p>Since tile has a tendency to get damaged in nature it is always accepted 5% of Chipping and damages of Tiles during transportation.</p>
                            <p>If any Quality Issue has to be raised Before 24 Hours.</p>
                            <p>&nbsp;</p>
                         </td>
                      </tr>
                   </table>
                   <p class="mt-3">
                      Returns are accepted only,                
                   </p>
                   <ul>
                      <li>
                         <p>If there is a mismatch in the Size/dimension with comparison to the ordered materials/products.</p>
                      </li>
                      <li>
                         <p>If Wrong materials/products/colours were sent from the ordered list of items</p>
                      </li>
                      <li>
                         <p>If tampered materials/products were received.</p>
                      </li>
                      <li>
                         <p>If Defective items/malfunctioning materials/products are received.</p>
                      </li>
                      <li>
                         <p>If Materials/products are missing as per the manufacturer’s product manual (Valid only for products/ materials which are sold in package by the manufacturer along with a user manual)</p>
                      </li>
                      <li>
                         <p>Materials/product quality not matching with the manufacturer's claims. (Note: In case, the materials need testing by third party agencies, all costs and effort to be borne by the buyer, including sending samples, testing charges and report collection)</p>
                      </li>
                      <li>
                         <p>If notified to us within 24 hours on receipt of the order to Buimat customer care no. +91 73 8181 3131.</p>
                      </li>
                   </ul>
                   <p>In case, the seller does not have the replacement product, he can provide the refund to the buyer and buyer shall be obligated to accept the refund in lieu of replacement.   </p>
                   <p>   Replacements will be done within 10-15 days of time from receipt of goods at the vendor facility and solely depends upon the availability of the materials/products.   </p>
                   <p>    We will schedule the process of pickup on acceptance of your request for returns from the vendors.   </p>
                   <p>   Please call Buimat customer care No. for replacements with your order-id, date of material receipt and reasons for replacement within 24 hours of receipt of materials / items.   </p>
                   <p>    The transportation and handling charges have to be borne by the respective parties in case the defect is on their side.
                   </p>
                   <p class="mt-3">   Returns are NOT accepted if,</p>
                   <ul>
                      <li>
                         <p>Material / Product is used and tampered after receiving.</p>
                      </li>
                      <li>
                         <p>Product is not installed according to the user manual and results in damage / malfunctioning.</p>
                      </li>
                      <li>
                         <p>Not notified within 24 hours on receipt of delivery to Buimat customer care No. +91 73 8181 3131.</p>
                      </li>
                      <li>
                         <p>No other materials / items will be exchanged for different materials/items.</p>
                      </li>
                      <li>
                         <p>Partial Returns / Leftovers are not accepted.</p>
                      </li>
                   </ul>
                   <p class="mt-3">Cancellations</p>
                   <p class="mt-3">When cancellations are accepted?</p>
                   <ul>
                      <li>
                         <p>Ordered materials are NOT in transit from the vendors.</p>
                      </li>
                      <li>
                         <p>Ordered materials/products are NOT customised to suit the buyer.</p>
                      </li>
                      <li>
                         <p>Shipment at buyer door steps cannot be cancelled for any reasons, other than mentioned in the returns above.</p>
                      </li>
                   </ul>
                   <p class="mt-3">When cancellations are NOT accepted?</p>
                   <ul>
                      <li>
                         <p>Ordered materials/products are imported by the vendors based on the buyer order.</p>
                      </li>
                      <li>
                         <p>Ordered materials/products are sourced by the vendors after the buyer placing an order.</p>
                      </li>
                      <li>
                         <p>Ordered materials/products are custom built to suit your requirements </p>
                      </li>
                   </ul>
                   <div class="title">
                      <strong>3. Return Process:</strong>
                   </div>
                   <ul>
                      <li>
                         <p>To initiate a return, please contact our customer service team immediately.</p>
                      </li>
                      <li>
                         <p>We will provide you with a return authorization number (RAN) and instructions on how to return the product in the same Vehicle.</p>
                      </li>
                      <li>
                         <p>f the material is sent in any other vehicle you are responsible for the cost of return shipping.</p>
                      </li>
                      <li>
                         <p>All returns must be shipped back in their original packaging and include all original documentation.</p>
                      </li>
                      <li>
                         <p>Upon receiving the material the refund process would be processed. </p>
                      </li>
                   </ul>
                   <div class="title">
                      <strong>4. Refunds:</strong>
                   </div>
                   <ul>
                      <li>
                         <p>Refunds will be issued to the original payment method used for the purchase.</p>
                      </li>
                      <li>
                         <p>Processing times for refunds may vary depending on your payment method.</p>
                      </li>
                      <li>
                         <p>We will deduct any applicable shipping & handling costs from your refund.</p>
                      </li>
                   </ul>
                   <div class="title">
                      <strong>5.Disclaimer:</strong>
                   </div>
                   <ul>
                      <li>
                         <p>We reserve the right to modify this policy at any time without prior notice.</p>
                      </li>
                      <li>
                         <p>This policy is subject to all applicable laws and regulations.</p>
                      </li>
                   </ul>
                   <div class="title">
                      <strong>PLEASE NOTE:-  </strong>
                      <p>All the return/replace/refund will be entertained by Buimat only if the calls are placed with the Buimat customer care No. +91 73 8181 3131. within 24 hours from the time of delivery.</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>