<main>
    <section class="bu-ter">
       <div class="page-header page-header-catalog">
          <div class="page-breadcrumbs">
             <div class="martfury-container">
                <ul class="breadcrumbs">
                   <li itemprop="itemListElement" itemscope="">
                      <a class="home"  href="/home" itemprop="item"><span itemprop="name">Home </span></a>
                   </li>
                   <span class="sep">/</span>
                   <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                      <span itemprop="item"><span itemprop="name">Contact</span></span>
                   </li>
                </ul>
             </div>
          </div>
       </div>
       <div class="main m-0 p-0">
            <div class="title">
                <h1 class="">Contact Us For Any Questions</h1>
            </div>
            <div class="wpb_wrapper">
                <div class="row p-0">
                    <div class="col-md">
                        <div class="content">
                            <div class="vc_toggle_title">
                               <h4>Contact Directly</h4>
                            </div>
                            <div class="vc_toggle_content">
                                <p>contact@buimat.com<b></b>
                                    (+91) 7381813131</p>
                             </div>
                         </div>
                    </div>
                    <div class="col-md">
                        <div class="content">
                            <div class="vc_toggle_title">
                               <h4>Head Quarter</h4>
                            </div>
                            <div class="vc_toggle_content">
                                <p>No 323, Maraimalai Adigal Salai,<br>
                                    Nellithope, Nellitope,<br>
                                    Puducherry, 605005</p>
                           </div>
                         </div>
                    </div>
                    <div class="col-md">
                        <div class="content">
                            <div class="vc_toggle_title">
                               <h4>Work With Us</h4>
                            </div>
                            <div class="vc_toggle_content">
                              <p>Send your CV to our email:<br>
                                career@buimat.com</p>
                            </div>
                         </div>
                    </div>
                </div>
                <div class="row p-0">
                    <div class="col-md">
                        <div class="content">
                            <div class="vc_toggle_title">
                               <h4>Customer Service</h4>
                            </div>
                            <div class="vc_toggle_content">
                                <p>customercare@buimat.com<br>
                                    (+91) 7381813131</p>
                             </div>
                         </div>
                    </div>
                    <div class="col-md">
                        <div class="content">
                            <div class="vc_toggle_title">
                               <h4>Media Relations</h4>
                            </div>
                            <div class="vc_toggle_content">
                                <p>media@buimat.com<br>
                                    (801) 947-3564</p>
                           </div>
                         </div>
                    </div>
                    <div class="col-md">
                        <div class="content">
                            <div class="vc_toggle_title">
                               <h4>Vendor Support</h4>
                            </div>
                            <div class="vc_toggle_content">
                              <p>vendorsupport@buimat.com:<br>
                                (+91) 9789 5237 56</p>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
         </div>
    </section>
  </main> 
  
  