<div class="bu-login-page">
  <main  *ngIf="nSubModule==1">
    <section class="container">
      <!-- login screen starts -->
      <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="bu-form-wrapper" *ngIf="!isEmailLogin">
          <!-- <a  class="bu-go-backpage">
            <img  src="../../../../../assets/img/project/back-btn.png">
          </a> -->
          <div class="bu-image-maxwrap">
            <!-- <img src="assets/images/mobile-logo.png" alt=""> -->
            <img alt="" draggable="false" src="../../../../../assets//img/project/logo.svg">
          </div>
          <h4 class="text-center"><strong>Enter Mobile Number</strong></h4>
          <p class="text-center">Enter your 10-digit mobile number to receive the verification code.</p>
          <form [formGroup]="form"  (ngSubmit)="onClickSubmit()">
            <div class="form-group mt-2">
              <input type="number" class="form-control" formControlName="mobile" placeholder="Mobile Number"
                          [ngClass]="{'is-invalid': isSubmit && fb['mobile'].errors }">
                  <div *ngIf="isSubmit && fb['mobile'].errors" class="invalid-feedback">
                    <small *ngIf="fb['mobile'].errors?.['required']">Enter your Mobile Number</small>
                    <small *ngIf="fb['mobile'].errors?.['pattern']" class="text-danger">Please enter 10 digit Mobile No</small>
                  </div>
              
            </div>
            
            <!-- <a  class="btn bu-btn-blue">Get Verification Code</a> -->
            <button type="submit" class="btn bu-btn-blue">CONTINUE</button>
            <br>
            <p>Already Registered ! <a (click)="onChange($event)"><strong><u>Login via Email</u></strong></a></p>

          </form>
          
        </div>


        <div class="bu-form-wrapper" *ngIf="isEmailLogin">
          <!-- <a  class="bu-go-backpage">
            <img  src="../../../../../assets/img/project/back-btn.png">
          </a> -->
          <div class="bu-image-maxwrap">
            <!-- <img src="assets/images/mobile-logo.png" alt=""> -->
            <img alt="" draggable="false" src="../../../../../assets//img/project/logo.svg">
          </div>
          <!-- <span class="row bu-h2title">Login</span>         -->

          <form [formGroup]="formGroup"  (ngSubmit)="onEmailLogin()">
            <div class="form-floating mb-4">  
                <input type="email" formControlName="email" class="form-control" id="buEmail" 
                [ngClass]="{ 'is-invalid' : formGroup.controls.email.errors && formGroup.controls.email.touched }" placeholder="name@example.com">
                <label for="buEmail">Email address</label>
                <div class="invalid-feedback" *ngIf="formGroup.controls.email.hasError('required')">
                  {{ 'FIELD_REQUIRED' | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="formGroup.controls.email.hasError('email')">
                  {{ 'FIELD_EMAIL' | translate }}
                </div>
            </div>
            


            <div class="form-floating mb-4">  

              <input type="password" class="form-control" id="password"
                  formControlName="password" placeholder="password" 
                  [ngClass]="{ 'is-invalid' : formGroup.controls.password.errors && formGroup.controls.password.touched }">
                <label for="name">Password</label>
                <div class="invalid-feedback" *ngIf="formGroup.controls.password.hasError('required')">
                {{ 'FIELD_REQUIRED' | translate }}
              </div>
            </div>


            <button type="submit" class="btn bu-btn-blue" [disabled]="!formGroup.valid">LOGIN</button>
            <br>
            <p><a  (click)="onChange($event)"><strong><u>Login via Mobile Number</u></strong></a></p>
          </form>
          
          
        </div>
      </div>
      <!-- login screen ends -->       
    </section>
  </main>

  <main  *ngIf="nSubModule==2">
    <section class="container">
      <!-- otp verification starts -->
      <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="bu-form-wrapper">
          <a  class="bu-go-backpage"  (click)="onBackClick()">
            <img  src="../../../../../assets/img/project/back-btn.png" alt="">
          </a>
          <div class="bu-image-maxwrap">
            <img alt="" draggable="false" src="../../../../../assets//img/project/logo.svg">
          </div>
          <h4 class="text-center"><strong>Verify Mobile Number</strong></h4>
          <div class="text-center">
            <p>Please enter the OTP to verify your account <br><span>A code has been sent to <b>{{phone}}</b> </span></p>
            
          </div>
          <form [formGroup]="form"  (ngSubmit)="onOTPSubmit()">

            <div id="otp" class="form-group d-flex flex-row justify-content-center">
              <ng-otp-input  (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config"></ng-otp-input>
            </div>
            <div class="bu-otpinfor-wrap mt-4" *ngIf="displayTimer">
              <p>Time Remaining :  <a><strong>{{ display }}</strong></a></p>
            </div>
            <div class="bu-otpinfor-wrap text-center mt-4" *ngIf="!displayTimer">
              <p>Didn't received a code ?. <a (click)="resendOTP()"><strong><u>Resend OTP</u></strong></a></p>
            </div>          
    
            <button type="submit" class="btn bu-btn-blue">VERIFY OTP</button>
          </form>
        </div>
      </div>
      <!-- otp verification ends -->
    </section>
  </main>
</div>

<ng-template #content let-modal>
  <div class="modal-header m-0">
     <div class="row w-100">
        <p class="m-0">Verify your Email</p>
     </div>
  </div>
  <div class="modal-body w-100 p-3">

      <p class="p-2">
        We have sent an email to : <b>{{getEmail()}}</b>
      </p>
     
      <p class="a-size-small p-2">
        You need to verify your email to continue. <br>
        If you not received the verification email please your "spam" or "bulk email" folder.<br><br>
        You can also click the resend button below to have a another email sent to you.
      </p>
         
      <div class="p-3">
          <button type="button" class="form-control checkout-button" (click)="resendEmail()">Resend Verification Email</button>
      </div>
  </div>
</ng-template>